name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.1'

      - name: Flutter Clean
        run: flutter clean

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Build APK (Release for arm64-v8a)
        # ✅ تم تعديل هذه الخطوة لتوفير الـ Secrets لـ Gradle وتقسيم الـ ABI
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
        # ✨ التعديل الرئيسي هنا: إضافة --split-per-abi
        run: flutter build apk --release --split-per-abi

      - name: Upload Artifact (arm64-v8a)
        uses: actions/upload-artifact@v4
        with:
          # ✨ تم تعديل الاسم والمسار ليتوافق مع ملف arm64-v8a
          name: release-apk-arm64
          # المسار الجديد لملف APK الخاص بمعمارية arm64-v8a
          path: build/app/outputs/flutter-apk/minex.apk